.navbar-nav>li>a {
    color: green;
    font-size: 16PX;
}

.navbar-custom {
    color: green;
    background-color: white;
    margin-top: 10px;
}

.nav-brand-custom {
    color: mediumturquoise;
}

.header-cont container {
    margin-left: 0px;
    width: 90%;
    height: 30px;
    margin-top: 7px;
    position: absolute;
}

#sequencia {
    background: url('image21.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 300px;
    color: black;
}

#sequencia3 {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: white;
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

.nav.nav-pills.nav-justified li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#sequenciaimg {}

.container {
    padding-top: 20px;
}

.container2 h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}

.container2 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}