#menu {
    color: mediumseagreen;
    background-color: white;
    height: 80px;
    margin-top: 0px;
}

.navbar-nav>li>a {
    color: green;
    font-size: 16PX;
}

.navbar-custom {
    color: green;
    background-color: white;
    margin-top: 40px;
}

.nav-brand-custom {
    color: mediumturquoise;
}

.header-cont container {
    margin-left: 0px;
    width: 90%;
    height: 30px;
    margin-top: 7px;
    position: absolute;
}

#sequencia {
    background: url('image211.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 300px;
}

#sequenciaimg {}

.container2 {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.container2 h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}

.container2 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}