.navbar-nav>li>a {
    color: green;
    font-size: 16PX;
}

.navbar-custom {
    color: green;
    background-color: white;
    margin-top: 10px;
}

#brand {
    color: seagreen;
    font-size: 36px;
}

#sequencia {
    background: url('image21.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 250px;
    color: black;
}

#sequencia3 {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: white;
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

.nav.nav-pills.nav-justified li a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.container {
    padding-top: 20px;
}